name: Produce and Publish PDF
on:  # yamllint disable-line rule:truthy
  push:
    tags:
    - 'v*.*.*'
  workflow_dispatch:
jobs:
  publish_pdf:
    runs-on: ubuntu-latest
    steps:
      # - name: Set up Git repository
      #   uses: actions/checkout@v2
      # - name: Get Current Date
      #   id: date
      #   run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
      # - name: Get Githash
      #   id: git_hash
      #   run: echo "::set-output name=git_hash::$(git rev-parse --short "$GITHUB_SHA")"
      # - name: Get Git Branch
      #   id: git_branch
      #   run: echo "::set-output name=git_branch::${GITHUB_REF#refs/heads/}"
      # - name: Set Version in Document
      #   uses: jacobtomlinson/gha-find-replace@v2
      #   with:
      #     find: "@@version@@"
      #     replace: "${{github.ref_name}}"
      #     #replace: "${{ steps.date.outputs.date }}-${{ steps.git_branch.outputs.git_branch }}-${{ steps.git_hash.outputs.git_hash }}"
      #     regex: false
      # - name: Set DateStamp in Document
      #   uses: jacobtomlinson/gha-find-replace@v2
      #   with:
      #     find: "@@datestamp@@"
      #     replace: "${{ steps.date.outputs.date }}"
      #     regex: false
      # - name: Compile LaTeX Document
      #   uses: xu-cheng/latex-action@v2
      #   with:
      #     root_file: video-streaming-cheatsheet.tex
      # - name: Generate Thumbnail for Page 1
      #   uses: jruipinto/ImageMagick-action@v1
      #   with:
      #     command: convert -density 700 -resize 10% -append -quality 98 -alpha remove video-streaming-cheatsheet.pdf[0] video-streaming-cheatsheet-thumbnail-p1.jpg
      # - name: Generate Thumbnail for Page 2
      #   uses: jruipinto/ImageMagick-action@v1
      #   with:
      #     command: convert -density 700 -resize 10% -append -quality 98 -alpha remove video-streaming-cheatsheet.pdf[1] video-streaming-cheatsheet-thumbnail-p2.jpg
      # - name: Upload PDF to S3
      #   id: upload-pdf
      #   uses: hkusu/s3-upload-action@v2
      #   with:
      #     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #     aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #     aws-region: 'eu-west-1'
      #     aws-bucket: ${{ secrets.AWS_BUCKET }}
      #     file-path: './video-streaming-cheatsheet.pdf'
      #     content-type: 'application/pdf'
      #     destination-dir: '/'
      # - name: Upload Thumbnail 1 to S3
      #   uses: hkusu/s3-upload-action@v2
      #   with:
      #     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #     aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #     aws-region: 'eu-west-1'
      #     aws-bucket: ${{ secrets.AWS_BUCKET }}
      #     file-path: './video-streaming-cheatsheet-thumbnail-p1.jpg'
      #     content-type: 'image/jpeg'
      #     destination-dir: '/'
      # - name: Upload Thumbnail 2 to S3
      #   uses: hkusu/s3-upload-action@v2
      #   with:
      #     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #     aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #     aws-region: 'eu-west-1'
      #     aws-bucket: ${{ secrets.AWS_BUCKET }}
      #     file-path: './video-streaming-cheatsheet-thumbnail-p2.jpg'
      #     content-type: 'image/jpeg'
      #     destination-dir: '/'
      - name: Tweet
        uses: snow-actions/tweet@v1.3.0
        with:
          status: |
            Released ${{ github.event.release.name }}
            ${{ github.event.release.html_url }}
        env:
          CONSUMER_API_KEY: ${{ secrets.TWITTER_CONSUMER_API_KEY }}
          CONSUMER_API_SECRET_KEY: ${{ secrets.TWITTER_CONSUMER_API_SECRET }}
          ACCESS_TOKEN: ${{ secrets.TWITTER_ACCESS_TOKEN }}
          ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
